@import "tailwindcss";

:root {
  --font-primary: var(--font-poppins);
  --font-secondary: var(--font-open-sans);
}

body {
  font-family: var(--font-primary), sans-serif;
}

.secondary-text {
  font-family: var(--font-secondary), sans-serif;
}
.primary-text {
  font-family: var(--font-secondary), sans-serif;
}

.ant-card-body {
  padding: 0;
}
